In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("Admission_Predict_Ver1.1.csv")

In [4]:
df.isnull().sum()

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

In [5]:
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [6]:
df.shape

(500, 9)

In [7]:
df = df.drop('Serial No.',axis=1)

In [8]:
df.shape

(500, 8)

In [9]:
df.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337,118,4,4.5,4.5,9.65,1,0.92
1,324,107,4,4.0,4.5,8.87,1,0.76
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65

In [10]:
df['Chance of Admit '] = [1 if each >= 0.80 else 0 for each in df['Chance of Admit ']]

In [11]:
df.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337,118,4,4.5,4.5,9.65,1,1
1,324,107,4,4.0,4.5,8.87,1,0
2,316,104,3,3.0,3.5,8.00,1,0
3,322,110,3,3.5,2.5,8.67,1,1
4,314,103,2,2.0,3.0,8.21,0,0

In [12]:
X = df.drop(['Chance of Admit '],axis=1)
y = df['Chance of Admit ']

In [13]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,y,test_size=0.25,random_state=123)

In [14]:
from sklearn.tree import DecisionTreeClassifier
from sklearn import metrics

model = DecisionTreeClassifier()

model = model.fit(X_train,Y_train)

In [15]:
y_pred = model.predict(X_test)

In [16]:
print("Confusion Matrix:\n")
print(metrics.confusion_matrix(Y_test, y_pred))
print()
print("Accuracy Score:", metrics.accuracy_score(Y_test, y_pred))
print("Precision Score:",metrics.precision_score(Y_test, y_pred))
print("Recall Score:", metrics.recall_score(Y_test, y_pred))
print("F1 Score:", metrics.f1_score(Y_test, y_pred))

Confusion Matrix:

[[79  3]
 [ 2 41]]

Accuracy Score: 0.96
Precision Score: 0.9318181818181818
Recall Score: 0.9534883720930233
F1 Score: 0.942528735632184

In [25]:
gre_score = int(input("Enter your GRE Score (out of 340): "))
toefl_score = float(input("Enter your TOEFL Score (out of 120): "))
university_rating = float(input("Enter the University Rating (1 to 5): "))
sop = float(input("Rate your Statement of Purpose (SOP) (1 to 5): "))
lor = float(input("Rate your Letter of Recommendation (LOR) (1 to 5): "))
cgpa = float(input("Enter your CGPA (out of 10): "))
research = int(input("Do you have Research Experience? (1 for Yes, 0 for No): "))

user_input = pd.DataFrame({
    'GRE Score': [gre_score],
    'TOEFL Score': [toefl_score],
    'University Rating': [university_rating],
    'SOP': [sop],
    'LOR ': [lor],
    'CGPA': [cgpa],
    'Research': [research]
})

pred = model.predict(user_input)

print()

if (pred[0] == 1):
    print("Chance of Admit: Yes")
else:
    print("Chance of Admit is: No")

Enter your GRE Score (out of 340): 310
Enter your TOEFL Score (out of 120): 110
Enter the University Rating (1 to 5): 2
Rate your Statement of Purpose (SOP) (1 to 5): 4
Rate your Letter of Recommendation (LOR) (1 to 5): 4
Enter your CGPA (out of 10): 9.5
Do you have Research Experience? (1 for Yes, 0 for No): 0

Chance of Admit is: No